.ExampleContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 640px;
    margin: 0 auto;
}
.ExampleContent-section {
    flex: 0 1 50%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.ExampleContent-element {
    display: inline-block;
    position: relative;
    padding: 40px 90px;
    background-color: #f62a00;
    color: #ffffff;
    font-size: .8em;
    border-radius: 3px;
    margin-bottom: 20px;
}

.ExampleContent-element:after {
    content: " ";
    position: absolute;
    border: 5px solid #f62a00;
    width: 0;
    margin-top: -5px;
    margin-left: -5px;
    left: 50%;
    top: 100%;
    transform: rotate(45deg);
}

.ExampleContent-animated {
  animation-name: animated;
  animation-timing-function: ease;
}

@keyframes animated {
  0% { transform: translate3d(0, 0, 0); }
  50% { transform: perspective(500px) translate3d(0, -10px, 20px); }
  100% { transform: translate3d(0, 0, 0); }
}
