.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Example-animating {
  animation-name: exampleAnimation;
}

@keyframes exampleAnimation {
  0% { transform: translate3d(0, 0, 0); }
  50% { transform: perspective(500px) translate3d(10px, 100px, 200px); }
  100% { transform: translate3d(0, 0, 0); }
}
