body {
  margin: 0;
  text-align: center;
  background: #F7F7F2;
  color: #1C1F2B;
  padding: 40px 80px;
  font-family: sans-serif;
  font-size: 20px;
}

h1 {
  margin-top: 0;
}

.subduedText {
  color: grey;
}
