body {
  margin: 0;
  text-align: center;
  background: #9cdfff;
  padding: 40px 80px;
  font-family: sans-serif;
  font-size: 24px;
  color: #444;
}
a {
  font-size: .8em;
}

p {
  font-size: .8em;
}

small {
  font-size: .6em;
}

h1 {
  margin-top: 0;
}

h2 {
  font-size: 1.2em;
}
