body {
  margin: 0;
  text-align: center;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  color: #212121;
  font-family: -apple-system-body,BlinkMacSystemFont,SFUI,HelveticaNeue,Helvetica,Arial,sans-serif;
}
a {
  color: #ff007f;
  text-decoration: none;
  border-bottom: 1px dashed rgba(255, 0, 127, .4);
}

a:hover {
  border-bottom-style: solid;
}

p {
  font-size: .8em;
}

small {
  font-size: .6em;
  opacity: 0.5;
}

h1 {
  margin-top: 0;
  font-weight: 500;
}

h2 {
  font-size: 1em;
  font-weight: 500;
}
